<div class="footer d-flex">
 <div class="container">
  <div class="row">
    <div class="content col-md-4 col-sm-12 ">
      <div class="text-white pt-4 text-center"><h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p></div>
    </div>
    <div class=" content col-md-4 col-sm-12 ">
      <div class="text-white pt-4 text-center">
        <h2>AROUND THE WEB</h2>
      <div class="icons">
        <i class="fa-brands fa-facebook mx-1  rounded-circle"></i>
        <i class="fa-brands fa-twitter mx-1  rounded-circle "></i>
        <i class="fa-brands fa-linkedin-in mx-1  rounded-circle"></i>
        <i class="fa-solid fa-globe mx-1  rounded-circle"></i>
      </div>
      </div>
    </div>
    <div class=" content col-md-4 col-sm-12 ">
      <div class="text-white pt-4 text-center">
        <h2>ABOUT FREELANCER</h2>
      <p>Freelance is a free to use, licensed Bootstrap theme created
        by Route</p>
      </div>
    </div>
   </div>

 </div>

</div>
<div class="end text-center p-3 text-white ">
  <p>Copyright © Your Website 2021</p>
 </div>
