<section>
  <div class="container text-center mb-5">
      <div class="portfolio">
        <h1>portfolio component</h1>
        <div class="icon d-flex justify-content-center align-items-center mb-5 ">
          <div class="line"></div>
          <i class="fa-regular fa-star"></i>
          <div class="line "></div>
      </div>
      <div class="row g-4">
        @for (product of products; track $index) {
          <div class="col-md-6 col-lg-4 col-sm-12" (click)="showModel(product.imgSrc)">
            <div class="card ">
            <div class="img position-relative" ><img [src]="product.imgSrc" class="w-100 h-100  " alt="">
              <div class="cover position-absolute d-flex justify-content-center align-items-center ">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </div>

            </div>
                    </div>

        }

      </div>
      </div>
  </div>
</section>
@if (isClicked == true) {
  <div (click)="bgClose()"  class="position-fixed bg-model top-0 start-0 d-flex end-0 bottom-0 d-flex justify-content-center align-items-center">
    <img id="model" [src]="imgSrc" class="img-model rounded-3" alt="" (click)="onImageClick($event)">
    <i class="fa-regular fa-circle-xmark close " (click)="closeModel()"></i>
  </div>
}
